{% if ospf is defined %}
{% for area in ospf.area %}
router ospf {{ area.id }}
{% for interface in interfaces.physical_single %}
{% if interface.name == 'lo0' %}
{% for loopback in interface.subinterface %}
   router-id {{ loopback.family.inet }}
 {% endfor %}
 {% endif %}
{% endfor %}
{% if ospf.export is defined %}
{% for statement in ospf.export %}
{% if statement.policy is defined %}
    redistribute {{ statement.protocol }} route-map {{ statement.policy }}
{% else %}
    redistribute {{ statement.protocol }}
{% endif %}
{% endfor %}
{% endif %}
{% if area.networks is defined %}
{% for network in area.networks %}
    network {{ network.prefix }} area {{ network.area }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
