{% if ospf is defined %}
{% for area in ospf.area %}
router ospf 1
{% if routing_options.router_id is defined %}
   router-id {{ routing_options.router_id }}
{% endif %}
{% if ospf.export is defined %}
{% for statement in ospf.export %}
{% if statement.policy is defined %}
    redistribute {{ statement.protocol }} route-map {{ statement.policy }}
{% else %}
    redistribute {{ statement.protocol }}
{% endif %}
{% endfor %}
{% endif %}
{% if area.networks is defined %}
{% for network in area.networks %}
    network {{ network.prefix }} area {{ network.area }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
