{#  SYSTEM #}
system {
    host-name {{ inventory_hostname }};
{% if junos_system.domain_name is defined %}
    domain-name {{ junos_system.domain_name }};
{% endif %}
{% if junos_system.domain_search is defined %}
    domain-search {{ junos_system.domain_search }};
{% endif %}
{% if junos_system.time_zone is defined %}
    time-zone {{ junos_system.time_zone }};
{% endif %}
{% if junos_system.arp_aging_time is defined %}
    arp {
        aging-timer {{ junos_system.arp_aging_timer }};
    }
{% endif %}
{% if junos_system.auth_order is defined %}
    authentication-order {{ junos_system.auth_order }};
{% endif %}
    root-authentication {
        encrypted-password "{{ junos_system.root_encrypted_password }}";
    }
{% if junos_system.name_server is defined %}
    name-server {
{% for server in junos_system.name_server %}
        {{ server }};
{% endfor %}
    }
{% endif %}
{% if junos_system.tacplus_server is defined %}
    tacplus-server {
{% for server in junos_system.tacplus_server %}
        {{ server.ipv4_address }} {
            timeout {{ server.timeout }};
            source-address {{ server.source_address }};
        }
{% endfor %}
    }
{% endif %}
{% if junos_system.tacplusOptions is defined %}
    tacplus-options {
{% for option in junos_system.tacplusOptions %}
        {{ option }};
{% endfor %}
    }
{% endif %}
{% if junos_system.radius_server is defined %}
    radius-server {
{% for server in junos_system.radius_server %}
        {{ server.ip_address }} secret "{{ server.secret }}";
{% endfor %}
    }
{% endif %}
{% if junos_system.accounting is defined %}
    accounting {
{% if junos_system.accounting.events is defined %}
        events {{ junos_system.accounting.events }};
        destination {
{% for destination in junos_system.accounting.destination %}
            {{ destination.type }} {
                server {
                    {{ destination.server }} secret "{{ destination.secret }}";
                }
            }
{% endfor %}
        }
{% endif %}
{% if junos_system.tacplus_server is defined %}
        destination {
            tacplus {
                server {
{% for server in junos_system.tacplus_server %}
                    {{ server.ipv4_address }} {
                        timeout {{ server.timeout }};
                        source-address {{ server.source_address }};
                    }
{% endfor %}
                }
            }
        }
{% endif %}
    }
{% endif %}
    login {
{% if junos_system.login.message is defined %}
        message "{{ junos_system.login.message }}";
{% endif %}
{% for class in junos_system.login.class %}
        class {{ class.name }} {
            idle-timeout {{ class.idleTimeout }};
            permissions {{ class.permissions }};
        }
{% endfor %}
{% for user in junos_system.login.user %}
        user {{ user.name }} {
            uid {{ user.uid }};
            class {{ user.permissions }};
            authentication {
                encrypted-password "{{ user.encryptPass }}";
{% if user.key is defined %}
                ssh-rsa "{{ user.key }}"; ## SECRET-DATA
{% endif %}
            }
        }
{% endfor %}
{% if junos_system.passwordRequirements is defined %}
        password {
            {{ junos_system.passwordRequirements }};
{% endif %}
        }
    }
{% if junos_system.services is defined %}
    services {
{% if junos_system.services.ftp == True %}
        ftp;
{% endif %}
{% if junos_system.services.ssh is defined %}
        ssh {
{% for option in junos_system.services.ssh %}
            {{ option }};
{% endfor %}
        }
{% endif %}
{% if junos_system.services.netconf is defined %}
        netconf {
            ssh;
        }
{% endif %}
{% if junos_system.services.rest is defined %}
        rest {
{% if junos_system.services.rest.http is defined %}
            http {
{% if junos_system.services.rest.http.port is defined %}
                port {{ junos_system.services.rest.http.port }};
{% endif %}
            }
{% if junos_system.services.rest.options is defined %}
{% for option in junos_system.services.rest.options %}
            {{ option }};
{% endfor %}
{% endif %}
{% endif %}
        }
{% endif %}
{% if junos_system.services.dhcp is defined %}
        dhcp-local-server {
{% if junos_system.services.dhcp.group is defined %}
            group {{ system.services.dhcp.group.name }} {
{% if junos_system.services.dhcp.group.iface is defined %}
                interface {{ junos_system.services.dhcp.group.iface }};
{% endif %}
            }
{% endif %}
        }
{% endif %}
{% if junos_web_management is defined %}
        web-management {
{% if junos_web_management.http is defined %}
            http {
{% if junos_web_management.http.interface is defined %}
                interface {{ junos_web_management.http.interface }};
{% endif %}
            }
{% endif %}
{% if junos_web_management.https is defined %}
            https {
{% if junos_web_management.https.port is defined %}
                port {{ junos_web_management.https.port }};
{% endif %}
{% if junos_web_management.https.certificate is defined %}
                local-certificate {{ junos_web_management.https.certificate }};
{% endif %}
{% if junos_web_management.https.interface is defined %}
                interface {{ junos_web_management.https.interface }};
{% endif %}
            }
{% endif %}
{% endif %}
        }
    }
{% endif %}
{% if junos_syslog is defined %}
    syslog {
{% if junos_syslog.archive_configuration is defined %}
        {{ junos_syslog.archive_configuration }};
{% endif %}
{% for user in junos_syslog.user %}
        user {{ user.name }} {
            {{ user.facility}} {{ user.severity }};
        }
{% endfor %}
{% for host in junos_syslog.host %}
        host {{ host.ipv4_address }} {
            {{ host.facility}} {{ host.severity }};
            source-address {{ host.source_address }};
        }
{% endfor %}
{% for file in junos_syslog.file %}
        file {{ file.file_name }} {
{% if file.facility is defined %}
            {{ file.facility}} {{ file.severity }};
{% endif %}
{% if file.authorization is defined %}
            authorization {{ file.authorization }};
{% endif %}
{% if file.interactiveCommands is defined %}
            interactive-commands {{ file.interactiveCommands }};
{% endif %}
{% if file.priority is defined %}
            {{ file.priority }};
{% endif %}
{% if file.options is defined %}
{% for option in file.options %}
            {{ option }};
{% endfor %}
{% endif %}
        }
{% endfor %}
    }
{% endif %}
    commit synchronize;
    max-configurations-on-flash 49;
    max-configuration-rollbacks 49;
    license {
        autoupdate {
            url https://ae1.juniper.net/junos/key_retrieval;
        }
    }
{% if junos_system.ntp is defined %}
    ntp {
{% if junos_system.ntp.bootserver is defined %}
        boot-server {{ junos_system.ntp.bootserver }};
{% endif %}
{% for server in junos_system.ntp.server %}
{% if server.key is defined %}
        server {{ server.ipv4_address }} key {{ server.key }};
{% else %}
        server {{ server.ipv4_address }};
{% endif %}
{% endfor %}
    }
{% endif %}
}
