{% for interface in interfaces.physical_single %}
{# SKIPPING OUT ON SVIs and loopback0 interfaces #}
{% if interface.name != 'svi' and interface.name != 'lo0' %}
interface {{ interface.name }}
{% if interface.description is defined %}
   description {{ interface.description }}
{% endif %}
{% if interface.speed is defined and platform != "vEOS" %}
   speed forced {{ interface.speed }}
{% endif %}
{# BEGIN HARROWING WORK OF APPLYING JUNOS CONFIG LOGIC TO ARISTA #}
{% for subinterface in interface.subinterface %}
{% if subinterface.vrf is defined %}
   vrf forwarding {{ subinterface.vrf }}
   ip address {{ subinterface.family.inet }}
{% elif subinterface.family.mode == 'inet' %}
   no switchport
   ip address {{ subinterface.family.inet }}
{% if subinterface.ospf is defined %}
{% for ospf in subinterface.ospf %}
   ip ospf network {{ ospf.network }}
   ip ospf area {{ ospf.area }}
{% endfor %}
{% endif %}
{% else %}
{% if subinterface.family.type == 'access' %}
   switchport mode access
   switchport access vlan {{ subinterface.family.vlans }}
{% else %}
   switchport mode trunk
   switchport trunk allowed vlan {{ subinterface.family.vlans }}
{% endif %}
{% if subinterface.channel_group is defined %}
   channel-group {{ interface.channel_group.id }} mode {{ interface.channel_group.mode }}
{% if subinterface.mlag is not defined %}
{% if subinterface.stp_portfast is defined %}
   {{ subinterface.stp_portfast }}
{% else %}
   spanning-tree portfast edge
{% endif %}
{% if subinterface.stp_bpduguard is defined and subinterface.stp_bpduguard != 'True' %}
   {{ subinterface.stp_bpduguard }}
{% else %}
   spanning-tree bpduguard enable
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
!
{# BACK TO ADDRESS THE SVIs #}
{% elif interface.name == 'svi' %}
{% for svi in interface.subinterface %}
interface vlan {{ svi.unit }}
   description {{ svi.description }}
   ip address {{ svi.family.inet }}
{% if svi.virtual_router is defined %}
   virtual-router {{ svi.virtual_router }}
{% endif %}
!
{% endfor %}
{% else %}
{# FINALLY TO WRAP UP INTERFACES WITH LOOPBACKS #}
interface {{ interface.name }}
   description {{ interface.description }}
{% for loopback in interface.subinterface %}
   ip address {{ loopback.family.inet }}
{% endfor %}
{% endif %}
{# ^ marks the end of the if interface name is not lo0 loop #}
{% endfor %}
