{# INTERFACE #}
interfaces {
{% if interfaces.physical_single is defined %}
{% for iface in interfaces.physical_single %}
    {{ iface.name }} {
{% if iface.description is defined %}
        description {{ iface.description }};
{% endif %}
{% if iface.subinterface is defined %}
{% for subinterface in iface.subinterface %}
        unit {{ subinterface.unit }} {
{% if subinterface.family is defined %}
            family {{ subinterface.family.mode }} {
{% if subinterface.family.mode == 'ethernet-switching' %}
                interface-mode {{ subinterface.family.type }};
{% if subinterface.family.type == "trunk" %}
                vlan {
                    members [ {{ subinterface.family.vlans }} ];
                }
{% elif subinterface.family.type == "access" %}
                vlan {
                    members {{ subinterface.family.vlans }};
                }
{% endif %}
                storm-control default;
{% elif subinterface.family.inet == 'dhcp-client' %}
                {{ subinterface.family.inet }};
{% elif subinterface.family.mode == 'inet' %}
                address {{ subinterface.family.inet }};
{% endif %}
{% if subinterface.family.mtu is defined %}
                mtu {{ subinterface.family.mtu }}
{% endif %}
            }
{% endif %}
{% if subinterface.description is defined %}
            description {{ subinterface.description }};
{% endif %}
        }
{% endfor %}
{% endif %}
    }
{% endfor %}
{% endif %}
}
