{% if management is defined %}
{% if management.api is defined %}
management api http-commands
{% for protocol in management.api.protocol %}
   protocol {{ protocol }}
{% endfor %}
{% if management.api.enabled == True %}
   no shutdown
{% endif %}
   !
{% for vrf in management.api.vrf %}
   vrf {{ vrf.name }}
{% if vrf.enabled == True %}
      no shutdown
{% endif %}
   !
{% endfor %}
!
{% endif %}
{% if management.cvx is defined %}
management cvx
{% if management.cvx.enabled == True %}
   no shutdown
{% endif %}
   server host {{ management.cvx.server }}
   source-interface {{ management.cvx.source_interface }}
!
{% endif %}
{% if management.ssh is defined %}
management ssh
   authentication mode {{ management.ssh.authentication }}
   !
{% for vrf in management.ssh.vrf %}
   vrf {{ vrf.name }}
{% if vrf.enabled == True %}
      no shutdown
{% endif %}
{% endfor %}
!
{% endif %}
{% endif %}
