{% if junos_security is defined %}
security {
{# IKE POLICIES #}
{% if junos_security.ike is defined %}
    ike {
{# IKE PROPOSAL #}
{% for proposal in junos_security.ike.proposals %}
        proposal {{ proposal.name }} {
            authentication-method {{ proposal.authentication_method }};
            dh-group {{ proposal.dh_group }};
            authentication-algorithm {{ proposal.authentication_algorithm }};
            encryption-algorithm {{ proposal.encryption_algorithm }};
            lifetime-seconds {{ proposal.lifetime_seconds }};
        }
{% endfor %}
{# IKE POLICY #}
{% for policy in junos_security.ike.policies %}
        policy {{ policy.name }} {
            mode {{ policy.mode }};
            proposals {{ policy.proposals}};
            pre-shared-key {{ policy.pre_shared_key }};
        }
{% endfor %}
{# IKE GATEWAY #}
{% for gateway in junos_security.ike.gateways %}
        gateway {{ gateway.name }} {
            ike-policy {{ gateway.ike_policy }};
            address {{ gateway.address }};
            dead-peer-detection {
                interval {{ gateway.dead_peer_detection.interval }};
                threshold {{ gateway.dead_peer_detection.threshold }};
            }
{% for option in gateway.options %}
            {{ option }};
{% endfor %}
            external-interface {{ gateway.external_interface }};
        }
{% endfor %}
    }
{% endif %}
{# IPSEC POLICIES #}
{% if junos_security.ipsec is defined %}
    ipsec {
{# IPSEC PROPOSALS #}
{% for proposal in junos_security.ipsec.proposals %}
        proposal {{ proposal.name }} {
            protocol {{ proposal.protocol }};
            authentication-algorithm {{ proposal.authentication_algorithm }};
            encryption-algorithm {{ proposal.encryption_algorithm }};
            lifetime-seconds {{ proposal.lifetime_seconds }};
        }
{% endfor %}
{# IPSEC POLICIES #}
{% for policy in junos_security.ipsec.policies %}
        policy {{ policy.name }} {
            perfect-forward-secrecy {
              keys {{ policy.pfs }};
            }
            proposals {{ policy.proposals }};
        }
{% endfor %}
{# IPSEC VPNS #}
{% for vpn in junos_security.ipsec.vpns %}
        vpn {{ vpn.name }} {
            bind-interface {{ vpn.bind_interface }};
            df-bit clear;
            ike {
                gateway {{ vpn.ike_gateway }};
                ipsec-policy {{ vpn.ipsec_policy }};
            }
        }
{% endfor %}
    }
{% endif %}
{# SECURITY LOGGING #}
{% if junos_security.log is defined %}
    log {
{% if junos_security.log.mode is defined %}
        mode {{ junos_security.log.mode }};
{% endif %}
{% if junos_security.log.format is defined %}
        format {{ junos_security.log.format }};
{% endif %}
{% if junos_security.log.source_address is defined %}
        source-address {{ junos_security.log.source_address }};
{% endif %}
{% if junos_security.log.stream is defined %}
        stream {{ junos_security.log.stream.name }} {
            host {
                {{ junos_security.log.stream.host }};
                port {{ junos_security.log.stream.port }};
            }
        }
{% endif %}
    }
{% endif %}
{# SECURITY CERTFICATES #}
{% if junos_security.certificates is defined %}
    certificates {
{% if junos_security.certificates.local is defined %}
        local {
{% for certificate in junos_security.certificates.local %}
            {{ certificate.cert_name }} {
                "{{ certificate.payload|e }}";
            }
{% endfor %}
        }
{% endif %}
    }
{% endif %}
{# IDS POLICY #}
{% if junos_security.screen is defined %}
    screen {
        ids-option {{ junos_security.screen.name }} {
{% if junos_security.screen.icmp is defined %}
            icmp {
{% for option in junos_security.screen.icmp %}
                {{ option }};
{% endfor %}
            }
{% endif %}
{% if junos_security.screen.ip is defined %}
            ip {
{% for option in junos_security.screen.ip %}
                {{ option }};
{% endfor %}
            }
{% endif %}
{% if junos_security.screen.tcp is defined %}
            tcp {
{% for each in junos_security.screen.tcp %}
{% if each.options is defined %}
                {{ each.name }} {
{% for option in each.options %}
                    {{ option }};
{% endfor %}
                }
{% else %}
                {{ each.name }};
{% endif %}
{% endfor %}
            }
{% endif %}
        }
    }
{% endif %}
{# NAT POLICY #}
{# SOURCE NAT #}
{% if junos_security.nat is defined %}
    nat {
{% if junos_security.nat.source is defined %}
        source {
{% if junos_security.nat.source.pool is defined %}
{% for pool in junos_security.nat.source.pool %}
            pool {{ pool.pool_name }} {
                address {{ pool.address }};
            }
{% endfor %}
{% endif %}
{% for rule_set in junos_security.nat.source.rule_set %}
            rule-set {{ rule_set.rule_name }} {
{% if rule_set.from_zone is defined %}
                from zone {{ rule_set.from_zone }};
{% endif %}
{% if rule_set.to_zone is defined %}
                to zone {{ rule_set.to_zone }};
{% endif %}
{% if rule_set.nat_rule is defined %}
{% for rule in rule_set.nat_rule %}
                rule {{ rule.name }} {
                    match {
{% for option in rule.match %}
                        {{ option }};
{% endfor %}
                    }
                    then {
{% for option in rule.then %}
                        {{ option.nat_type }} {
{% for nat_option in option.options %}
                            {{ nat_option }};
{% endfor %}
                        }
{% endfor %}
                    }
                }
{% endfor %}
{% endif %}
            }
{% endfor %}
        }
{% endif %}
{# NAT POLICY #}
{# DESTINATION NAT #}
{% if junos_security.nat.destination is defined %}
        destination {
{% if junos_security.nat.destination.pool is defined %}
{% for pool in junos_security.nat.destination.pool %}
            pool {{ pool.pool_name }} {
                address {{ pool.address }} port {{ pool.port }};
            }
{% endfor %}
{% if junos_security.nat.destination.rule_set is defined %}
{% for rule_set in junos_security.nat.destination.rule_set %}
            rule-set {{ rule_set.rule_name }} {
{% if rule_set.from_zone is defined %}
                from zone {{ rule_set.from_zone }};
{% for rule in rule_set.nat_rule %}
                rule {{ rule.name }} {
                    match {
{% if rule.match.source_address is defined %}
                        source-address {{ rule.match.source_address }};
{% endif %}
{% if rule.match.destination_address is defined %}
                        destination-address {{ rule.match.destination_address }};
{% endif %}
{% if rule.match.destination_port is defined %}
                        destination-port {
                            {{ rule.match.destination_port }};
                        }
{% endif %}
                    }
                    then {
                        destination-nat {
                            {{ rule.then.nat_type }} {
                                {{ rule.then.pool_name }};
                            }
                        }
                    }
                }
{% endfor %}
{% endif %}
            }
{% endfor %}
{% endif %}
{% endif %}
        }
{% endif %}
    }
{% endif %}
{# SECURITY POLICIES #}
{% if junos_security.policies is defined %}
    policies {
{% for policy in junos_security.policies %}
        from-zone {{ policy.from_zone }} to-zone {{ policy.to_zone }} {
{% for statement in policy.policy_name %}
            policy {{ statement.name }} {
                match {
{% if statement.match.source_address is defined %}
                    source-address {{ statement.match.source_address }};
{% endif %}
{% if statement.match.destination_address is defined %}
                    destination-address {{ statement.match.destination_address }};
{% endif %}
{% if statement.match.application is defined %}
                    application {{ statement.match.application }};
{% endif %}
                }
                then {
{% for each in statement.then %}
                    {{ each }};
{% endfor %}
                }
            }
{% endfor %}
        }
{% endfor %}
    }
{% endif %}
{# SECURITY ZONES #}
{% if junos_security.zones is defined %}
    zones {
{% for zone in junos_security.zones.security_zone %}
        security-zone {{ zone.name }} {
{% if zone.address_book is defined %}
            address-book {
{% for entry in zone.address_book %}
{% if entry.description is defined %}
                address {{ entry.hostname }} {
                    description "{{ entry.description }}";
                    {{ entry.address }};
                }
{% else %}
                address {{ entry.hostname }} {{ entry.address }};
{% endif %}
{% endfor %}
            }
{% endif %}
{% if zone.screen is defined %}
            screen {{ zone.screen }};
{% endif %}
{% if zone.host_inbound_traffic is defined %}
            host-inbound-traffic {
{% if zone.host_inbound_traffic.system_services is defined %}
                system-services {
{% for option in zone.host_inbound_traffic.system_services %}
                    {{ option }};
{% endfor %}
                }
{% endif %}
{% if zone.host_inbound_traffic.protocols is defined %}
                protocols {
{% for option in zone.host_inbound_traffic.system_services %}
                    {{ option }};
{% endfor %}
                }
{% endif %}
            }
{% endif %}
{% if zone.interfaces is defined %}
            interfaces {
{% for interface in zone.interfaces %}
                {{ interface }};
{% endfor %}
            }
{% endif %}
        }
{% endfor %}
    }
{% endif %}
}
{% endif %}
